.pieces {
    position: absolute;
    left: calc(.25*var(--tile-size));
    right: 0;
    top: 0;
    bottom: calc(.25*var(--tile-size));
    background-color: rgba(200, 0, 0, 0.5);
}

.piece{
    width: 12.5%;
    height: 12.5%;
    position: absolute;
    background-size: 100%;
}

.piece.bk {
    background-image: url('../../assets/bk.png');
}
.piece.bq{
    background-image: url('../../assets/bq.png');
}
.piece.br{
    background-image: url('../../assets/br.png');
}
.piece.bb{
    background-image: url('../../assets/bb.png');
}
.piece.bn{
    background-image: url('../../assets/bn.png');
}
.piece.bp{
    background-image: url('../../assets/bp.png');
}
.piece.wk {
    background-image: url('../../assets/wk.png');
}
.piece.wq{
    background-image: url('../../assets/wq.png');
}
.piece.wr{
    background-image: url('../../assets/wr.png');
}
.piece.wb{
    background-image: url('../../assets/wb.png');
}
.piece.wn{
    background-image: url('../../assets/wn.png');
}
.piece.wp{
    background-image: url('../../assets/wp.png');
}
.piece.p-07{
    top: 0;
    left: 87.5%;
}

